<p>
  <mat-toolbar>
    <div class="search-bar">
      <mat-form-field>
        <input matInput type="text" placeholder="Search" [(ngModel)]="searchString">
      </mat-form-field>
      <button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </div>

    <button mat-icon-button>
      <mat-icon fontIcon="filter_alt"></mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon fontIcon="shopping_cart"> </mat-icon>
    </button>
  </mat-toolbar>
</p>

<span>{{eventsResponse | json}}</span>