<div>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{currentView}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="changeView()">{{currentView !== viewEnum.LATEST ? viewEnum.LATEST :
      viewEnum.FAVORITES}}</button>
  </mat-expansion-panel>

  <div class="sub-header">
    <div class="mode-toggle">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="toggleTheme">
      </mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </div>

    <ng-form>
      <mat-form-field class="id-input" appearance="fill">
        <mat-label>Get comic from ID</mat-label>
        <input #input matInput type="text" (keypress)="numberOnly($event)" (keyup.enter)="getComicByID(input.value)">
        <button matSuffix mat-icon-button (click)="getComicByID(input.value)">
          <mat-icon fontIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </ng-form>
  </div>

  <ng-container *ngIf="currentView === viewEnum.LATEST; else listView">
    <app-comic (newFavoriteComic)="addComicToFavorites($event)"></app-comic>
  </ng-container>

  <ng-template #listView>
    <app-comic-list></app-comic-list>
  </ng-template>
</div>